/* ------------------------------------
	#TYPOGRAPHY
-------------------------------------- */

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

  font-weight: $font-weight-bolden;
  margin: 0 0 1.5rem 0;
  color: $heading-color;

}

.entry-title {
  text-transform: uppercase;
  font-family: $paragraph-font-family;


}

.no-margin {
  margin: 0;

  * {
    margin: 0;
  }
}


h1, .h1 {
  font-family: $headings-font-family;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  letter-spacing: $h1-letter-spacing;
  @media (max-width: $mobile) {
    font-size: rem(40px);
  }
  @media (max-width: $smallmobile) {
    font-size: rem(35px);
  }
  @media (max-width: $smallmobile) {
    font-size: rem(25px);
  }
}

h2, .h2 {
  font-family: $headings-font-family;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
  letter-spacing: $h2-letter-spacing;
  @media (max-width: $mobile) {
    font-size: rem(25px);
  }
  @media (max-width: $smallmobile) {
    font-size: rem(20px);
  }
}

h3, .h3 {
  font-family: $headings-font-family;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
  letter-spacing: $h3-letter-spacing;
  @media (max-width: $mobile) {
    font-size: rem(20px);
  }
  @media (max-width: $smallmobile) {
    font-size: rem(18px);
  }

}

h4, .h4 {
  font-family: $headings-font-family;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  font-weight: $h4-font-weight;
  letter-spacing: $h4-letter-spacing;

}

h5, .h5 {
  font-family: $paragraph-font-family;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: $h5-font-weight;
}

h6, .h6 {
  font-family: $paragraph-font-family;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  font-weight: $h6-font-weight;
}


// Paragraph & Misc
p, .paragraph {
  margin: 0 0 1rem 0;
  font-size: $paragraph-size;
  letter-spacing: 0.1rem;
  line-height: $paragraph-line-height;
  font-family: $paragraph-font-family;
  color: $paragraph-color;

  &--small {
    font-size: $small-paragraph-size;
  }
}

button{
  font-size: $paragraph-size;
}

ul, ol {
  margin-top: 0;

  li {
    font-family: $paragraph-font-family;
    font-size: $h5-font-size;
    color: $paragraph-color;
    line-height: $paragraph-line-height;
    vertical-align: middle; // prevents bottom margin
    margin: 0 0 0.2rem 0;

  }
}

a {
  font-family: $h5-font-size;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: $font-weight-bolden;
}

blockquote {
  border-left: 4px solid $lightgrey;
  font-size: 1em;
  margin: 3.5em 10px 3.5em 0;
  padding-left: 20px;
}

figcaption {
  p {
    font-size: rem(15px);
  }
}



.breadcrum {
  text-transform: uppercase;
  font-family: $paragraph-font-family;
  padding: 2rem 0 2rem 0;
  color: color(white) !important;
  font-size: rem(25px);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  a {
    font-size: rem(25px);

    &:hover {
      color: color(white) !important;
      text-decoration: none;
    }
  }

  span.mobile-wrap {
    width: 100%;
  }

  a.all {
    font-size: rem(25px);
    font-weight: 900;
    color: color(white) !important;
    white-space: nowrap;
  }

  span.slash {
  }

  @media (max-width: $medium) {
    font-size: rem(20px);
    a.all, a {
      font-size: rem(20px);
    }
  }
  @media (max-width: $largeTablet) {
    font-size: rem(18px);
    a.all, a {
      font-size: rem(18px);
    }
  }
  @media (max-width: 800px) {
    font-size: rem(17px);
    a.all, a {
      font-size: rem(17px);
    }
  }
  @media (max-width: $tablet) {
    display: inline-grid;
    a.all {
      font-size: rem(25px);

      &:after {
        font-family: "Font Awesome 5 Free";
        content: '\f078';
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
    span.mobile-wrap {
      height: 0;
      opacity: 0;

      &.view {
        height: auto;
        opacity: 1;
        display: inline-grid;
      }
    }
    span.slash {
      display: none;
    }
    a:not(.all) {

      &:before {
        content: '-';
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
  }
}

.block.one.gold-breaker {
  height: 0.8rem;
  background: linear-gradient(90deg, #c69d64 0%, #c69d64 10%, #e9cd8c 30%, #c69d64 70%) 0 0;
  z-index: 3;
  grid-row: -1;
  grid-column-start: -1;
  grid-column-end: 1;
  width: 100%;
  max-width: 100% !important;
  margin-bottom: 3rem;
}

.gradient {
  background: linear-gradient(90deg, rgba(233, 205, 140, 1) 0%, rgba(198, 157, 100, 1) 60%) 0 0;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-gold-text, .dark-gold-text * {
  color: color(darkgold) !important;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
