<section class="grid align-wide grid-gap-400 pad-bottom-400 pad-top-400">
    <figure class="frame">
        <img src="{{ block.image.one().getUrl('fourthree') }}" alt="">
    </figure>
    <div class="stack">
        {{ block.text }}
        {% set destination = block.buttonDestination.one() %}
        <a class="button standard" href="{{ destination.url }}">{{ block.buttonText }}</a>
    </div>
</section>