#hero {
  grid-template-rows: 1fr 50px;
  #my-video {
    grid-column: 1 / span 14;
    grid-row: 1 / span 2;
    height: 90vh;
    max-height: 85vh;
    object-fit: cover;
    overflow: hidden;
    width: 100%;

    video{
      transform: scale(1.7);
      @media (max-width: $medium-large) {
        transform: scale(1.8);
      }
      @media (max-width: $medium) {
        transform: scale(2);
      }
      @media (max-width: $largeTablet) {
        transform: scale(2.5);
      }
      @media (max-width: $tablet) {
        transform: scale(3.5);
      }
    }
  }
  .grid-layout {
    z-index: 2;
    &.slider {
      align-items: center;
      display: inline-flex;
      grid-row: 1;
      grid-template-rows: 1fr 50px;
      justify-content: center;
      padding: 4rem 0;
      .slick-list {
        .content {
          margin: 0 auto;
          z-index: 2;
          text-align: center;
          &:focus{
            outline: none;
          }
          * {
            color: color(white);
          }
          .button {
            margin-top: 4rem;
          }
        }
      }
    }

    &.slider-nav {
      grid-row: 2;
      align-self: end;

      .slick-list {
        padding: 0;

        .tab-link {
          align-items: center;
          cursor: pointer;
          display: inherit;
          text-align: center;
          &:focus, &:active {
            outline: none;
          }

          button {
            background-color: transparent;
            border-radius: 0;
            border: none;
            color: color(lightgrey);
            cursor: pointer;
            display: inline;
            font-family: $headings-font-family;
            font-size: 1.2rem;
            overflow: hidden;
            padding-bottom: 3rem;
            position: relative;
            &:focus, &:active {
              outline: none;
            }

            &:after {
              background: color(orange);
              bottom: 0;
              content: "";
              height: 5px;
              position: absolute;
              right: 0;
              transition-duration: 200ms;
              transition-property: width;
              transition-timing-function: ease-out;
              width: 0;
              z-index: -1;
            }
          }
          &:hover {
            button {
              color: color(white);

              span {
                color: color(orange);
              }
            }
          }
          &.slick-current {
            button {
              color: color(white);
              span {
                color: color(orange);
              }
              &:after {
                left: 0;
                right: auto;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &:after {
    background-color: rgba(color(blue), 0.9);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
