#text-section {


  .grid {
    .block {
      //text-align: center;
    }
  }
}

#tab-section {


  div {
    &.tabs {


      a {
        text-align: center;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.filter-btn {
          padding: 1.5rem;
          color: var(--grey);
          border-bottom: 5px solid var(--grey);
        }

        &.active {
          color: color(blue);
          border-bottom: 5px solid var(--primary);
          transition-property: all;
          transition-duration: 200ms;
          transition-timing-function: ease-out;
        }

        &:hover {
          text-decoration: none;
          color: var(--primary);
          background-color: var(--primary-shade);
          border-bottom: 5px solid var(--primary);
          transition-property: all;
          transition-duration: 200ms;
          transition-timing-function: ease-out;
        }
      }
    }

    &.slider-channels {
      margin: 1rem -0.5rem;

      .block {
        margin: 1rem;

        &:focus {
          outline: none;
        }

        figure {
          position: relative;
          margin-bottom: 2rem;
          overflow: hidden;

          &:hover {
            img {
              transition: all 200ms ease-in-out;
              transform: scale(1.1);
            }
          }

          img {
            transition: all .2s ease-in-out;
          }
        }

        p {
          font-size: 1rem;
        }

        .button {
          font-size: 0.9rem;

          &:hover {
            border-bottom: 1px solid var(--primary);

          }
        }
      }
    }
  }
}

#cta-section {
  background-color: var(--primary);
  .grid {
    figure {
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      * {
        color: var(--light);
      }
    }
  }
}

#location-section {
  margin: 4rem 0;

  .grid {
    .block {
      text-align: center;

      #map {
        margin-top: 4rem;
        width: 100%;
        height: 500px;
      }
    }
  }
}